body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 32px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    background-color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Стили форм */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666;
}

/* Стили для личного кабинета */
ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
}

form + h3 {
    margin-top: 40px;
}

/* Медиа-запросы */
@media screen and (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        margin-bottom: 20px;
    }
}