<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <h1> <a href="main.html"> Методика GTD</a></h1>
  <nav>
    <ul>
      <li><a href="#">О методике</a></li>
      <li><a href="#">Продукты</a></li>
      <li><a href="#">Служба поддержки</a></li>
      <li><a href="main.html">Выйти</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Личный кабинет</h2>
  <h3>Список задач</h3>
  <ul>
    <li>Задача 1</li>
    <li>Задача 2</li>
    <li>Задача 3</li>
  </ul>
  <h3>Добавить задачу</h3>
  <form action="dashboard.html" method="post">
    <label for="task">Название задачи</label>
    <input type="text" name="text" id="task" required>
    <input type="submit" value="Добавить">
  </form>
</main>
<footer>
  <p>&copy; Методика GTD. Все права защищены.</p>
</footer>
</body>
</html>