<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Management System - Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/syle_for_dasboard.css" />
</head>
<body>
<div class="content-container">
  <div class="max-width-container">
    <div class="header flex items-center justify-between">
      <h1 class="title">Мои задачи</h1>
      <div class="buttons-container">
        <button
                id="add-task-cta"
                class="button regular-button blue-background"
        >
          Добавить задачу
        </button>
        <button class="sign-out-cta" onclick="exit()">Выйти</button>
      </div>
    </div>
  </div>
  <div class="radio-buttons-container">
    <div class="max-width-container flex">
      <div class="radio-container">
        <input
                type="radio"
                id="list"
                name="view-option"
                value="list"
                class="radio-input"
                checked
        />
        <label for="list" class="radio-label">
          <iconify-icon
                  icon="material-symbols:format-list-bulleted-rounded"
                  style="color: black"
                  width="24"
                  height="24"
          ></iconify-icon>
          <span>Корзина</span>
        </label>
      </div>
      <div class="radio-container">
        <input
                type="radio"
                id="board"
                name="view-option"
                value="board"
                class="radio-input"
        />
        <label for="board" class="radio-label">
          <iconify-icon
                  icon="ic:round-grid-view"
                  style="color: black"
                  width="24"
                  height="24"
          ></iconify-icon>
          <span>Список</span>
        </label>
      </div>
    </div>
  </div>
  <div class="max-width-container">
    <div id="list-view" class="list-view">
      <div class="list-container pink">
        <h2 class="list-header">
              <span class="circle black-background"></span
              ><span class="text">Ваши задачи</span>
        </h2>
          <ul class="tasks-list"></ul>
      </div>
    </div>
    <div id="board-view" class="board-view hide">
      <div>
        <h2 class="list-header">
              <span class="circle pink-background"></span
              ><span class="text">Отложенное</span>
        </h2>
        <ul class="tasks-list pink">
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="list-header">
              <span class="circle blue-background"></span
              ><span class="text">Текущее</span>
        </h2>
        <ul class="tasks-list blue">
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="list-header">
              <span class="circle green-background"></span
              ><span class="text">Ближайшее</span>
        </h2>
        <ul class="tasks-list green">
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="list-header">
              <span class="circle red-background"></span
              ><span class="text">Проекты</span>
        </h2>
        <ul class="tasks-list green">
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
          <li class="task-item">
            <button class="task-button">
              <div>
                <p class="task-name">Design UI</p>
                <p class="task-due-date">Сделать до 7 ноября, 2023</p>
              </div>
              <iconify-icon
                      icon="material-symbols:arrow-back-ios-rounded"
                      style="color: black"
                      width="18"
                      height="18"
                      class="arrow-icon"
              ></iconify-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="set-task-overlay" class="overlay set-task-overlay hide">
  <div class="overlay-content pink-background">
    <button
            class="button circle-button blue-background flex justify-center items-center close-button"
            onclick="showNotes(false)"
    >
      <iconify-icon
              icon="material-symbols:close-rounded"
              style="color: black"
              width="26"
              height="26"
      ></iconify-icon>
    </button>
    <h1 class="header">Добавить задачу</h1>
    <iframe name="votar" style="display: none"></iframe>
    <form class="form" autocomplete="off" target="votar">
      <label for="name" class="label">Имя</label>
      <input
              type="text"
              name="name"
              id="name"
              class="input white-background"
              required
      />
      <label for="description" class="label">Описание</label>
      <textarea
              name="description"
              id="description"
              rows="8"
              class="textarea-input white-background"
              required
      ></textarea>
      <h2 class="label">Дата завершения</h2>
      <div class="divided-inputs-container">
        <div>
          <label for="due-date-day" class="secondary-label">День</label>
          <input
                  type="text"
                  name="due-date-day"
                  id="due-date-day"
                  class="input white-background"
                  required
          />
        </div>
        <div>
          <label for="due-date-month" class="secondary-label">Месяц</label>
          <input
                  type="text"
                  name="due-date-month"
                  id="due-date-month"
                  class="input white-background"
                  required
          />
        </div>
        <div>
          <label for="due-date-year" class="secondary-label">Год</label>
          <input
                  type="text"
                  name="due-date-year"
                  id="due-date-year"
                  class="input white-background"
                  required
          />
        </div>
      </div>
      <h2 class="label">Статус</h2>
      <div
              id="status-select"
              class="status-select white-background flex items-center justify-between cursor-pointer"
      >
        <div class="status-name"></div>
        <iconify-icon
                icon="material-symbols:arrow-back-ios-rounded"
                style="color: black"
                width="18"
                height="18"
                class="arrow-icon"
        ></iconify-icon>
      </div>
      <ul
              id="status-dropdown"
              class="status-dropdown white-background hide"
      >
        <li>
          <input
                  type="radio"
                  id="basket-radio"
                  name="status-option"
                  value="To do"
                  class="radio-input"
          />
          <label for="basket-radio" class="radio-label">
            <span class="circle"></span><span>Корзина</span>
          </label>
        </li>
        <li>
          <input
                  type="radio"
                  id="current-radio"
                  name="status-option"
                  value="Doing"
                  class="radio-input"
          />
          <label for="current-radio" class="radio-label">
            <span class="circle blue-background"></span><span>Текущее</span>
          </label>
        </li>
        <li>
          <input
                  type="radio"
                  id="nearest-radio"
                  name="status-option"
                  value="Done"
                  class="radio-input"
          />
          <label for="nearest-radio" class="radio-label">
            <span class="circle green-background"></span><span>Ближайшее</span>
          </label>
        </li>
        <li>
          <input
                  type="radio"
                  id="pending-radio"
                  name="status-option"
                  value="To do"
                  class="radio-input"
          />
          <label for="pending-radio" class="radio-label">
            <span class="circle pink-background"></span><span>Отложенное</span>
          </label>
        </li>
      </ul>
      <div class="text-center">
        <button
                type="submit"
                class="button regular-button green-background cta-button"
                id="add-task-button"
        >
          Добавить задачу
        </button>
      </div>
    </form>
  </div>
</div>
<div id="view-task-overlay" class="overlay view-task-overlay hide">
  <div class="overlay-content green-background">
    <button
            class="button circle-button blue-background flex justify-center items-center close-button"
    >
      <iconify-icon
              icon="material-symbols:close-rounded"
              style="color: black"
              width="26"
              height="26"
      ></iconify-icon>
    </button>
    <div class="task-info"></div>
  </div>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
<script src ="/js/dashboardScript.js"></script>
</body>
</html>