<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход в аккаунт</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <h1> <a href="main.html"> Методика GTD</a></h1>
</header>
<main>
  <h2>Вход в аккаунт</h2>
  <form action="login.html" method="post">
    <label for="username">Имя пользователя</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Войти">
  </form>
  <p>Еще не зарегистрировались? <a href="register.html">Зарегистрируйтесь</a>.</p>
</main>
<footer>
  <p>&copy; Методика GTD. Все права защищены.</p>
</footer>
</body>
</html>